.row {
    margin-top: 10px;
    border-radius:10px;
}
.col{
    text-align:center;
    color:white;
    background-color: black;
    border: 1px solid blue;
    border-radius: 10px;
    font-size:60px;
    font-family:monospace;
    margin-right:2px;
}
.fa-clock{
    font-size: 60px;
}
#firstrow{
    width:20%;
    margin-left:auto;
    margin-right:auto;
}